.comicList {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  flex-direction: column;
  /* Prevent text selection */
  user-select: none;
}

.comicList___title-section {
  display: flex;
  margin-top: 48px;
  margin-bottom: 24px;
  min-width: 960px;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: left;
}

.comicList__container {
  /* Firefox */
  display: flex;
  overflow-x: auto;
  width: 960px;
  scrollbar-width: none;
  /* Prevent text selection */
  user-select: none;
  gap: 16px;
}

.comicList__container::-webkit-scrollbar {
  /* Chrome, Safari, and Opera */
  display: none;
  /* Prevent text selection */
  user-select: none;
}


.comicList__scrollBar {
  display: flex;
  margin-top: 24px;
  margin-bottom: 48px;
  height: 4px;
  background-color: #D9D9D9;
}

.comicList__scrollThumb {
  height: 4px;
  background-color: #EC1D24;
  transition: width 0.2s ease-in-out;
}