:root {
  --max-width-card: 189px;
  --margin-page: 48px;
}


@media(max-width: 767px){
  :root{
    --margin-page: 16px;
    --max-width-card: 172px;
  }
}

body {
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
}