.characters {
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px
}

.characters__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(188.57px, 1fr));
  gap: 16px;
}

.characters__titleFavorites {
  display: flex;
  margin-top: 48px;
  margin-bottom: 36px;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

/*Desktop: figma design 1512px*/
@media(max-width: 1512px) {
  .characters__list {
    grid-template-columns: repeat(auto-fill, minmax(188.57px, 1fr));
  }
}

/*Tablet: figma design is 834px but i think that is better define this sizes*/
@media(min-width: 768px) and (max-width:1024px) {
  .characters__list {
    grid-template-columns: repeat(4, minmax(172.5px, 1fr));
  }
}

/*Mobile: Figma design = 393px but i think that it'ts better define this sizes:*/
@media (min-width: 320px) and (max-width: 767px) {
  .characters {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px
  }

  .characters__list {
    grid-template-columns: repeat(2, minmax(172.5px, 1fr));
  }
}